body {
   background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
   background-image: linear-gradient( 135deg, rgb(6, 168, 243) 0%, rgb(160, 41, 80) 69%, rgb(218, 64, 64) 89%) !important;
}

/*home page styles*/

.masthead {
   display: flex;
   align-items: center;
   background-image: linear-gradient( 135deg, rgb(6, 168, 243) 0%, rgb(160, 41, 80) 69%, rgb(218, 64, 64) 89%) !important;
   height: 100vh;
}

.masthead .ui.menu .ui.button, .ui.menu a.ui.inverted.button {
   margin-left: 0.5em;
}

.masthead h1.ui.header {
   font-size: 4em;
   font-weight: normal;
}

.masthead h2 {
   font-size: 1.7em;
   font-weight: normal;
}